
<div class="row">
	<div class="span4">
	<div class="well">
		<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post } ) do |f| %>
		  <%= devise_error_messages! %>
<fieldset>
<legend>Forgot your password?</legend>

		<%= f.input :email, :autofocus => true %>

		  <div><%= f.button :submit, "Send reset password instructions" %></div>
		  </fieldset>
		<% end %>
		</div>
		<%= render "devise/shared/links" %>
		
	</div>
</div>